* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #21325e;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.title {
  font-size: 2rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 3rem auto;
}

.hero .slackProfilePicture {
  flex: 0 0 auto;
}

.hero .slackProfilePicture img {
  width: 30vw;
  height: auto;
  border: 1px solid #21325e;
  border-radius: 2rem;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.hero h2,
.hero .currentTimeGMT,
.hero .slackEmail,
.hero .currentDay {
  color: #21325e;
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.text-content > * {
  margin-bottom: 10px;
}

.links a {
  color: #21325e;
  text-decoration: none;
}

.links a:hover {
  background: #4667bc;
  padding: 0.3rem;
  cursor: pointer;
}

.year-section {
  background: var(--snd-bg-color);
  padding: 2rem;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #21325e;
  text-align: center;
}

.goals-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
  text-align: left;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #21325e;
}

.card-text {
  color: #333;
}

.footer {
  background-color: #262b48;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 900px) {
  .hero {
    flex-direction: row;
  }
  .image-container,
  .content {
    flex: 1;
  }
  .image-container {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .content {
    align-items: flex-start;
  }
  .goals-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero .slackProfilePicture img {
    width: 60vw;
    margin-bottom: 10px;
  }

  .text-content {
    text-align: center;
    align-items: center;
  }

  .links a {
    margin-right: 0;
    display: block;
  }
  .goals-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
